### Preprocessing Image Folder to CSV File

In [1]:
import numpy as np
from os import listdir
import pandas as pd
import os
os.listdir("C://Users//ANIL THANVI//Desktop//Machine Learning A-Z Template Folder//Tomato//New Plant Diseases Dataset(Augmented)//train/")

['Tomato___Bacterial_spot',
 'Tomato___Early_blight',
 'Tomato___healthy',
 'Tomato___Late_blight',
 'Tomato___Leaf_Mold',
 'Tomato___Septoria_leaf_spot',
 'Tomato___Spider_mites Two-spotted_spider_mite',
 'Tomato___Target_Spot',
 'Tomato___Tomato_mosaic_virus',
 'Tomato___Tomato_Yellow_Leaf_Curl_Virus']

In [3]:
list_of_dir = os.listdir("C://Users//ANIL THANVI//Desktop//Machine Learning A-Z Template Folder//Tomato//New Plant Diseases Dataset(Augmented)//train/")

In [4]:
def create(location , var):
    import cv2
    import glob
    X_data = []
    files = glob.glob("C://Users//ANIL THANVI//Desktop//Machine Learning A-Z Template Folder//Tomato//New Plant Diseases Dataset(Augmented)//train/"+location+"/*.JPG")
    for myFile in files:
        #print(myFile)
        image = cv2.imread (myFile)
        image = cv2.resize(image, (64,64)) 
        X_data.append (image)
    print('X_data shape:', np.array(X_data).shape)
    numpy_entry = np.array(X_data).reshape(np.array(X_data).shape[0] , np.array(X_data).shape[1]*np.array(X_data).shape[2]*np.array(X_data).shape[3])
    print('numpy_entry shape:', numpy_entry.shape)
    df=pd.DataFrame(data=numpy_entry[0:,0:],index=[i for i in range(numpy_entry.shape[0])],columns=['Pixel '+str(i) for i in range(numpy_entry.shape[1])])
    df['Category'] = var
    return df

In [7]:
master_df=pd.DataFrame(columns=['Pixel '+str(i) for i in range(64*64*3)])
var = 0
Req=list_of_dir
for i in Req:
    df = create(i,var)
    frames=[master_df , df]
    master_df = pd.concat(frames)
    print(" Done For ",i," With category Value ",var)
    print("Master Data Frame   ",master_df.shape)
    var = var + 1

X_data shape: (1702, 64, 64, 3)
numpy_entry shape: (1702, 12288)
 Done For  Tomato___Bacterial_spot  With category Value  0
Master Data Frame    (1702, 12289)
X_data shape: (1920, 64, 64, 3)
numpy_entry shape: (1920, 12288)
 Done For  Tomato___Early_blight  With category Value  1
Master Data Frame    (3622, 12289)
X_data shape: (1926, 64, 64, 3)
numpy_entry shape: (1926, 12288)
 Done For  Tomato___healthy  With category Value  2
Master Data Frame    (5548, 12289)
X_data shape: (1851, 64, 64, 3)
numpy_entry shape: (1851, 12288)
 Done For  Tomato___Late_blight  With category Value  3
Master Data Frame    (7399, 12289)
X_data shape: (1882, 64, 64, 3)
numpy_entry shape: (1882, 12288)
 Done For  Tomato___Leaf_Mold  With category Value  4
Master Data Frame    (9281, 12289)
X_data shape: (1745, 64, 64, 3)
numpy_entry shape: (1745, 12288)
 Done For  Tomato___Septoria_leaf_spot  With category Value  5
Master Data Frame    (11026, 12289)
X_data shape: (1741, 64, 64, 3)
numpy_entry shape: (1741, 12288)
 Done For  Tomato___Spider_mites Two-spotted_spider_mite  With category Value  6
Master Data Frame    (12767, 12289)
X_data shape: (1827, 64, 64, 3)
numpy_entry shape: (1827, 12288)
X_data shape: (1790, 64, 64, 3)
numpy_entry shape: (1790, 12288)
 Done For  Tomato___Tomato_mosaic_virus  With category Value  8
Master Data Frame    (16384, 12289)
X_data shape: (1961, 64, 64, 3)
numpy_entry shape: (1961, 12288)
 Done For  Tomato___Tomato_Yellow_Leaf_Curl_Virus  With category Value  9
Master Data Frame    (18345, 12289)

In [8]:
master_df.to_csv('data.csv')

In [9]:
master_df.head()

,Pixel 0,Pixel 1,Pixel 2,Pixel 3,Pixel 4,Pixel 5,Pixel 6,Pixel 7,Pixel 8,Pixel 9,...,Pixel 12279,Pixel 12280,Pixel 12281,Pixel 12282,Pixel 12283,Pixel 12284,Pixel 12285,Pixel 12286,Pixel 12287,Category
0,148,148,154,149,149,155,144,144,150,145,...,112,110,116,109,107,113,113,111,117,0.0
1,107,108,118,108,109,119,111,112,122,112,...,164,163,165,165,164,166,164,163,165,0.0
2,115,118,122,103,106,110,114,117,121,116,...,163,161,160,162,160,159,160,158,157,0.0
3,160,159,161,157,156,158,160,159,161,163,...,118,119,123,121,122,126,124,125,129,0.0
4,163,163,169,163,163,169,159,159,165,159,...,111,111,123,113,113,125,110,110,122,0.0

In [10]:
master_df.shape

(18345, 12289)

In [11]:
master_df.columns

Index(['Pixel 0', 'Pixel 1', 'Pixel 2', 'Pixel 3', 'Pixel 4', 'Pixel 5',
       'Pixel 6', 'Pixel 7', 'Pixel 8', 'Pixel 9',
       ...
       'Pixel 12279', 'Pixel 12280', 'Pixel 12281', 'Pixel 12282',
       'Pixel 12283', 'Pixel 12284', 'Pixel 12285', 'Pixel 12286',
       'Pixel 12287', 'Category'],
      dtype='object', length=12289)

In [12]:
master_df['Category'].unique()

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])